body {
    font-family: 'Literata', serif;
}
h1 {
    font-family: 'Literata', serif;
}
.jumbotron {
    font-family: 'Literata', serif;
    background: url("img/woodbackground.jpg") no-repeat center center;
    background-size: cover;
    max-height: 330px;
    margin: 0;
}
.byline {
    font-family: 'Fredericka the Great', cursive;
    color:black;
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-left: 80px;
}
.hrbyline {
    border-top: 3px solid rgb(56, 37, 9);
}
.navbar {
    background-color:rgb(56, 37, 9);
    font-family: 'Literata', serif;
    font-size: 18px;
    padding-left: 10px;
}
#navbarLogo {
    background-image: url("img/woodbackground.jpg");
    padding: 5px;
    border-radius: 3px;
}
footer {
    background-image: url("img/woodbackground.jpg");
    background-size: cover;
    font-family: 'Literata', serif;
    margin: 0;
}
.tab-content {
    border: 1px black solid;
    border-top: none;
    padding: 30px;
}
.menutab {
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
    font-size: 25px;
    color: rgb(56, 37, 9);
}
.menucontent {
    background: white;
}
.menucard {
    color:rgb(56, 37, 9);
    background: rgb(225, 225, 225);
}
.card-title {
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
    color:rgb(99, 10, 10);
}
.txtsegment {
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
    font-size: 40px;
    color: rgb(56, 37, 9);
    padding: 30px 20px;
    align-self: center;
}
.resImg {
    max-width: 75%;
    max-height: 300px;
}
.resImgDiv {
    padding: 30px 20px;
}
.btn {
    font-family: 'Literata', serif;
}
#accordion {
    max-width: 750px;
    margin: auto;
}
#maplink {
    font-size: 25px;
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
}
#email {
    margin: 10px auto;
    width: 80%;
    max-width: 400px;
}
#txtdiv1 {
    background-image: linear-gradient(to right, white, white, rgb(35, 116, 53));
}
#txtdiv2 {
    background-image: linear-gradient(to left, white, white, rgb(240, 237, 106));
}
#txtdiv3 {
    background-image: linear-gradient(to left, rgb(35, 116, 53), white, rgb(240, 237, 106));
}
#txtdiv4 {
    background-image: linear-gradient(white, rgb(252, 215, 172), white);
}
#txtdiv5 {
    background:rgb(99, 10, 10);
    color: rgb(175, 175, 175);
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
    font-size: 40px;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formdiv {
    background:rgb(56, 37, 9);
    color: white;
    padding: 30px;
}
#imgdiv1 {
    background-image: url("img/american-bison-3580601.jpg");
    height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100% !important;
    overflow: hidden;
}
#imgdiv2 {
    background-image: url("img/jungle-4186950.jpg");
    height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#imgdiv3 {
    background-image: url("img/appetizer-1386743.jpg");
    height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#imgdiv4 {
    background-image: url("img/panorama-2300806_1920.jpg");
    height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#imgdiv5 {
    background-image: url(img/nasibubur.jpg);
    background-size: cover;
    min-height: 200px;
    background-position: center;
}
#imgdiv6 {
    background-image: url(img/Polish-Bigos.jpg);
    background-size: cover;
    min-height: 200px;
    background-position: center;
}